.user-container {
    height: 80vh;
}

.user-container form {
    background-color: #007bff;
    padding: 2rem;
    box-shadow: 1px 1px 10px #000;
    color: #fff; /* Apply color to form elements */
}

.user-container input {
    color: #000; /* Change input text color */
    max-width: 20em; /* Limit input width */
}

.user-container label {
    font-weight: bold;
    margin-right: 1rem;
    min-width: 9rem;
    text-align: right;
}

.user-container .btn {
    font-weight: bold;
    color: #007bff !important;
}

.user-link {
    font-weight: bold !important;
    text-decoration: underline !important;
    color: #fff;
}

.user-link:hover {
    color: #fff !important; /* Change link color on hover */
}
